@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto&display=swap");

.announcements {
	font-family: "Asul";
	font-size: 45px;
	margin-bottom: 5px;
	text-align: center;
	padding: 25px;
	text-transform: uppercase;
	color: #213e4b;
	letter-spacing: 0.2em;
	/* background: linear-gradient(
		to right,
		#ff5757,
		#ffb53f,
		#fff100,
		#9ae900,
		#03cafc,
		#816aff,
		#ff0040
	); */
	background: linear-gradient(
		to right,
		#ff0040,
		#03cafc,
		#ff0040,
		#03cafc,
		#ff0040,
		#03cafc,
		#ff0040
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0.1em transparent;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 20px;
	text-align: center;
	width: 90vw;
}

.wrapper {
	width: 80vw;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px #03cafc, 0 0 20px #03cafc, 0 0 40px #03cafc;
	border-radius: 20px;
	background: linear-gradient(to right, #2c5364, #0f2027);
}

.carousel {
	max-width: 700px;
	width: 70vw;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
}

.inner {
	white-space: nowrap;
	transition: transform 0.3s;
	display: inline-flex;
}

.carouselItem {
	align-items: center;
	justify-content: center;
	height: 250px;
	min-width: 100%;
	width: 100%;
	background-color: #366579;
	box-shadow: inset 0 0 20px 10px rgb(196, 239, 245), inset 0 0 90px #03cafc;
}

.carouselItem h2 {
	font-size: 1.75rem;
	margin: 40px 0 40px 0;
	padding: 0 20px 0 20px;
	white-space: normal;
	color: #03cafc;
}

.carouselItem p {
	color: azure;
}

.cButtons {
	display: flex;
	justify-content: space-evenly;
}

.arrow {
	background: none;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	font-size: 40px;
	color: #03cafc;
}
.indicators {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.iButtons {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 25px;
}

.indicatorSymbol {
	color: #1494b4;
}
.indicatorSymbolActive {
	color: #03cafc;
	box-shadow: 0 0 10px #03cafc, 0 0 40px #03cafc, 0 0 80px #03cafc;
	border-radius: 50%;
}

.column {
	color: white;
	padding-left: 3em;
}
