.callTo {
	position: relative;
	width: 90vw;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #12161d;
	overflow: hidden;
	border-radius: 20px;
}
.callTo::before {
	content: "";
	position: absolute;
	width: 90vw;
	height: 200%;
	background: linear-gradient(#1995fa, #fa195c);
	animation: animate 9s linear infinite;
}
@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.callTo::after {
	content: "";
	position: absolute;
	inset: 4px;
	background: #12161d;
}

.action {
	position: relative;
	z-index: 10;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: x-large;
	font-weight: bold;
	width: 100%;
	text-decoration: none;
}
