@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto&display=swap");

.newsletter {
	font-family: "Asul";
	font-size: 45px;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #213e4b;
	letter-spacing: 0.2em;
	background: linear-gradient(
		to right,
		#ff0040,
		#03cafc,
		#ff0040,
		#03cafc,
		#ff0040,
		#03cafc,
		#ff0040
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0.1em transparent;
}

/*looking at a design similar to carousel*/
/* .viewport {
	width: 90vw;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px #03cafc, 0 0 20px #03cafc, 0 0 40px #03cafc;
	border-radius: 20px;
	background: linear-gradient(to right, #2c5364, #0f2027);
} */

.newscontainer p {
	color: azure;
	text-align: center;
	padding-bottom: 30px;
}

/*Working on making iframe responsive*/
/* .newscontainer {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%;
} */

.news {
	/* position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%; */
	height: 50vh;
	width: 80vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	z-index: 1;
	background-color: #03cafc;
	box-shadow: 0 0 10px #03cafc, 0 0 20px #03cafc, 0 0 40px #03cafc;
}
