@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto&display=swap");

.newsletter {
	font-family: "Asul";
	font-size: 45px;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #213e4b;
	letter-spacing: 0.2em;
	background: linear-gradient(
		to right,
		#ff0040,
		#038daf,
		#ff0040,
		#03cafc,
		#ff0040,
		#038daf,
		#ff0040
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0.1em transparent;
}

/*looking at a design similar to carousel*/
/* .viewport {
	width: 90vw;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px #03cafc, 0 0 20px #03cafc, 0 0 40px #03cafc;
	border-radius: 20px;
	background: linear-gradient(to right, #2c5364, #0f2027);
} */

.viewport p {
	color: azure;
	padding: 0 0 30px 20px;
}

.news {
	/* filter: invert(0.9) saturate(0.5) hue-rotate(145deg); */
	height: 50vh;
	width: 90vw;
	z-index: 1;
	background-color: #03cafc;
	box-shadow: 0 0 10px #03cafc, 0 0 20px #03cafc, 0 0 40px #03cafc;
}
