@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto&display=swap");

.calendar {
	font-family: "Asul";
	font-size: 45px;
	margin-bottom: 25px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #213e4b;
	letter-spacing: 0.2em;
	background: linear-gradient(
		to right,
		#ff0040,
		#038daf,
		#ff0040,
		#03cafc,
		#ff0040,
		#038daf,
		#ff0040
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0.1em transparent;
}
.container {
	display: flex;
	flex-direction: column;
}

.cal {
	filter: invert(0.9) saturate(0.5) hue-rotate(145deg);
	height: 50vh;
	width: 90vw;
	z-index: 1;
	background-color: #0352fc;
	box-shadow: 0 0 10px #0352fc, 0 0 30px #0352fc, 0 0 50px #0352fc;
}
