@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto&display=swap");

.events {
	font-family: "Asul";
	padding: 1em;
	font-size: 45px;
	margin-bottom: -25px;
	margin-top: -5;
	text-align: center;
	text-transform: uppercase;
	color: #213e4b;
	letter-spacing: 0.2em;
	background: linear-gradient(
		to right,
		#ff0040,
		#03cafc,
		#ff0040,
		#03cafc,
		#ff0040,
		#03cafc,
		#ff0040
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0.1em transparent;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	max-width: 830px;
	margin: 0 auto;
	/* justify-content: center;
	align-items: center; */
	place-items: center;
	align-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 40px;
	padding-bottom: 30px;
}
