@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto&display=swap");

.events {
	font-family: "Asul";
	padding: 1em;
	font-size: 45px;
	margin-bottom: -5px;
	margin-top: -5;
	text-align: center;
	/* background-color: grey; */
	background: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.news{
	background-color: red;
	padding: 15px;
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	/* flex-direction: column; */
	/* padding-left: 50px; */
	/* margin: 3em; */
	/* background-color: red; */
	/* padding: 2em; */
	background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
}

.columns {
	/* background-color: purple; */
	color: white;
	padding-left: 3em;
	/* background-color: blue; */
}