.Tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
}
.AnnouncementTab p,
.EventTab p,
.ResourceTab p,
.VideoTab p {
  font-size: 2rem;
  text-align: center;
}
