@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto&display=swap");

.newsletter {
	font-family: "Asul";
	font-size: 45px;
	margin-bottom: -5px;
	text-align: center;
}

.news {
	/* filter: invert(0.9) saturate(0.5) hue-rotate(145deg); */
	height: 50vh;
	width: 90vw;
	z-index: 1;
}
