@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@500&display=swap");

.outerBox {
	background: linear-gradient(to left, #a7d4e7, #397690);
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 20px;
}

.container h3 {
	font-size: 50px;
	margin-bottom: 5px;
}

.container a:link {
	display: flex;
	justify-content: space-between;
	color: #1a212b;
	text-decoration: none;
	padding: 18px;
	font-size: 20px;
	font-family: "Orbitron", sans-serif;
}

.container a:hover {
	color: aliceblue;
	font-family: "Electrolize", sans-serif;
}
