@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Electrolize&family=Orbitron:wght@500&display=swap");

.outerBox {
	/* background: linear-gradient(to left, #a7d4e7, #397690); */
	background-image: url(../../public/icons/image-from-rawpixel-id-5927288-jpeg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
}

.innerBox {
	background-color: rgba(173, 216, 230, 0.527);
	background-size: cover;
	width: 100vw;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 20px;
}

.container h3 {
	font-size: 50px;
	font-family: "Alegreya Sans SC", sans-serif;
	margin-bottom: 5px;
}

.container a:link {
	display: flex;
	justify-content: space-between;
	color: #1a212b;
	text-shadow: 2px 4px 4px rgba(46, 91, 173, 0.6);
	text-decoration: none;
	padding: 18px;
	font-size: 20px;
	font-family: "Orbitron", sans-serif;
}

.container a:visited {
	color: rgb(6, 6, 185);
}

.container a:hover {
	color: aliceblue;
	font-family: "Electrolize", sans-serif;
}
